# ignore any files beginning with .
#\.*

# and any files in the cache directory
/assets/cache/*
/assets/.thumbs/*
/assets/images/.thumbs/*

# and the config file
/manager/includes/config.inc.php
config.inc.php


# except do not ignore .gitignore
!.gitignore
*\-bkp*
/test.php