[submodule "manager"]
	path = manager
	url = https://github.com/BolmerCMS/manager.git
[submodule "core/app/Granada"]
	path = core/app/Granada
	url = https://github.com/BolmerCMS/Granada.git
[submodule "core/app/Tcache"]
	path = core/app/Tcache
	url = https://github.com/BolmerCMS/Tcache.git
[submodule "install"]
	path = install
	url = git@github.com:BolmerCMS/install.git
